@font-face {
	font-family: 'basicdots';
	src: local('../font/basicdots.ttf'), url('../font/basicdots.ttf');
}

* {
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: collapse;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000;
	background-color: #edeef0;
	background-size: 40px 40px;
	background-image: radial-gradient(circle, #aaa 1px, rgba(0, 0, 0, 0) 1px);
	background-attachment: fixed;
}

a, a:active {
	color: #666;
	font-size: 14px;
	font-weight: bold;
	background-color: #333;
	outline-style: none;
	text-decoration: none;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 190px;
	display: inline-block;
	border-radius: 3px;
}

a:visited {
	color: #666;
}

a:hover {
	color: #111;
	background-color: #666;
}

hr {
	border-top: 1px #444 solid;
	height: 1px;
	background-color: #000;
}

h1 {
	font-family: 'basicdots';
	color: #fff6a9;
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

.warp > * {
	margin-bottom: 10px;
}

.warp > *:last-child, .warp > *:only-child {
	margin-bottom: 0;
}

.pnf {
	color: #666;
	position: absolute;
	top: 50%;
	margin-top: -90px;
	left: 50%;
	margin-left: -220px;
}

.notice {
	background-color: #222;
	text-align: center;
	width: 420px;
	padding-top: 16px;
	padding-bottom: 16px;
	box-shadow: 0px 0px 3px rgba(0, 0, 0,.8);
	-o-box-shadow: 0px 0px 3px rgba(0, 0, 0,.8);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0,.8);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0,.8);
	border-left: 10px solid #333;
	border-right: 10px solid #333;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-radius: 8px;
}

